{% extends '_layouts/base.html' %}

{% block content %}

<div class="content-panel">
    <h2>News page</h2>
    <br>
    <h3>Yorkshire terrier</h3>
    <p>Родиной йоркширского терьера являются графства Йоркшир и Ланкашир в северной Англии.
        Его возможным предком называют уотерсайдского терьера. Эта порода была популярна
        в XVIII—XIX веках в Йоркшире и описывалась как Маленькая, серо-голубая собака с
        полудлинной шерстью». Этих собак держали крестьяне, так как им было запрещено заводить больших собак,
        чтобы они не браконьерствовали на землях, принадлежавших знати. Небольшие собачки охраняли дома от
        грызунов и сопровождали своих хозяев в торговых поездках вдоль рек и каналов (отсюда и название).</p>
    <br>
    <h3>Cane Corso</h3>
    <p>Официальными предками считаются древнеримские боевые собаки, использовавшиеся в качестве травильных
        собак-гладиаторов. После распада Римской империи нить истории этого римского молосса прерывается
        вплоть до начала средневековья[что?]. За это время молоссы получили широкое распространение по всей Европе,
        о чём свидетельствуют многочисленные гравюры и полотна.</p>
</div>

{% endblock content %}